@model CRUD_buss.Models.clientes






@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>

@*@using (Html.BeginForm("Create", "ClientesController", FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-12">
                @Html.Label("NOMBRE")
                @Html.TextBoxFor(d=>d.nombre_cli, "", new { @class = "form-control" })
            </div>
        </div>
    }*@



@using (Html.BeginForm("Edit", "Clientes", FormMethod.Post))
{


    <div class="table">
        <h4>EDITAR CLIENTE</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(d => d.codigo_cli)

        <div class="form-group">
            @Html.LabelFor(d => d.nombre_cli, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "NOMBRE")
            <div class="col-md-10">
            @Html.TextBoxFor(d => d.nombre_cli, "", new { @class = "foem-control" })
            @Html.ValidationMessageFor(d => d.nombre_cli, null, new { @class = "red" })
             </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.apellidos_cli, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "APELLIDO")
            <div class="col-md-10">
            @Html.TextBoxFor(d => d.apellidos_cli, "", new { @class = "foem-control" })
            @Html.ValidationMessageFor(d => d.apellidos_cli, null, new { @class = "red" })
                </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.direccion_cli, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "DIREC.")
            <div class="col-md-10">
            @Html.TextBoxFor(d => d.direccion_cli, "", new { @class = "foem-control" })
            @Html.ValidationMessageFor(d => d.direccion_cli, null, new { @class = "red" })
                </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.dni_cli, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "DNI")
            <div class="col-md-10">
            @Html.TextBoxFor(d => d.dni_cli, "", new { @class = "foem-control" })
            @Html.ValidationMessageFor(d => d.dni_cli, null, new { @class = "red" })
                </div>
        </div>
        <div>
            @Html.LabelFor(d => d.telefono_cli, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "TELEF.")
            <div class="col-md-10">
            @Html.TextBoxFor(d => d.telefono_cli, "", new { @class = "foem-control" })
            @Html.ValidationMessageFor(d => d.telefono_cli, null, new { @class = "red" })
                </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.usuario_cli, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "USUARIO")
            <div class="col-md-10">
            @Html.TextBoxFor(d => d.usuario_cli, "", new { @class = "foem-control" })
            @Html.ValidationMessageFor(d => d.usuario_cli, null, new { @class = "red" })
                </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.clave_cli, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "CLAVE")
            <div class="col-md-10">
                @Html.TextBoxFor(d => d.clave_cli, "", new { @class = "foem-control" })
                @Html.ValidationMessageFor(d => d.clave_cli, null, new { @class = "red" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.fecha_cli, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "FECHA DE NAC.")
                <div class="col-md-10">
                    @Html.EditorFor(d => d.fecha_cli, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(d => d.fecha_cli, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="GUARDAR CLIENTE" class="btn btn-primary" />
            </div>


    </div>
}